{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
	<title>Profile</title>
	<!-- Kenapa tidak bisa kl jquery dibawah ini di base??? cb tanya asdos-->
	<script src="{% static 'App_Profile\jquery-ui-1.12.1.custom\external\jquery\jquery.js' %}"></script>
	<script src="{% static 'App_Profile\jquery-ui-1.12.1.custom\jquery-ui.min.js' %}"></script>
</head>

<body style="background-color: #004A64FF;"  id="id_profile">

	<div class="row" id="main">
		<div class="col align-items-center">
			<img class="row" src="{% static 'App_Profile\img\profile.jpg' %}" alt="" id="id_fotoProfil" style="margin-left: 7vw;">
		</div>
		
		<div class="col">
			<div class="row">
				<p id="id_profilUmum">
					Nama 						:	{{name}}<br>
					Tanggal lahir 	:	{{tgl_lahir}}<br>
					NPM 						: {{npm}}<br>
					Kuliah 					: {{tempatkuliah}}<br>
					Hobi 						: {{hobi}}<br>
					Deskripsi diri 	: {{deskripsi}}<br>
				</p>
			</div>
		
			<div class="row" style="margin-right: 2.5vw">
				<div class="col" id="accordion">
					<h3 style="font-size: 2vw">Aktivitas</h3>
				  <div>
				  	<p style="font-size: 1vw">
				  		Aktivitas saya saat ini adalah berkuliah serta menjalankan beberapa organisasi dan kepanitiaan.
				  	</p>
				  </div>
				  <h3 style="font-size: 2vw">Kepanitiaan dan Organisasi</h3>
				  <div>
				  	<p style="font-size: 1vw">
				  		- Sekretaris SAIMALA UI 2018/2019 <br>
				  		- Staf Dept. Kajian dan Aksi Strategis BEM Fasilkom UI 2018 <br>
				  		- VPO TOBK SAIMALA El Dorado 2019 <br>
				  		- WaPJ Hubungan Eksternal OKK UI 2018 <br>
				  	</p>
				  </div>
				  <h3 style="font-size: 2vw">Prestasi</h3>
				  <div>
				  	<p style="font-size: 1vw">
				  		Mohon maaf prestasi tidak ditemukan. :)
				  	</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div style="margin-left: 2rem;margin-right: 2rem">
		<div class="text-center" style="color: white;">
			<div><h4>Subscribe</h4></div><br>
			<form id="id_form" method="POST" action="">
				{% csrf_token %}
				{{form}}
				<br>
				<button class="btn" id="id_btn" type="submit" action="POST">Submit</button>
			</form>
		</div>
		<br>
		<div class="text-center" style="color: white;">
			<div><h4>Subscriber List</h4></div><br>
			<ul id="id_subscriberlist" class="list-group" style="color: black"></ul>
		</div>
	</div>
</body>

<script>
	var nama = ""
	var email = ""
	var password = ""

	$(document).ready(function(e){
		function subscriberList_func(){
			$.ajax({
				url: "/profile/get/subscriber/subscriber_list",
				dataType: "json",
				success:function(result){
					$("#id_subscriberlist").empty()
					for(var i = 0;i < result.data.length; i++){
						$('#id_subscriberlist').append('<li class="list-group-item">' + result.data[i].nama + ' ' + result.data[i].email + '<br><button type="button" id="'+ result.data[i].email + '" class="unsubscribebtn btn btn-danger text-right">Unsubscribe</button></li>')
					}
				}
			});
		}
		
		subscriberList_func() //CALLING SUBSCRIBER LIST AT FIRST TIME

		$("#id_subscriberlist").on('click', ".unsubscribebtn", function(){ //posisi skrg thisnya di list-group-item
			$.ajax({
				url: "/profile/get/subscriber/subscriber_list",
				method: "POST",
				data:{
					"email" : $(this).attr('id'),
					'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken').val(),
				},
				success:function(result){
					alert("Success delete bro")
					subscriberList_func();
				}
			})
		});

		$( ":input[type='submit']" ).click(function(){
			$.ajax({
				url: "/profile/create/new_user",
				method: "POST",
				data:{
					'namaForm':nama,
					'emailForm':email,
					'passwordForm':password,
					'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken').val()
				},
				success:function(result){
					if(result.condition === 'Success'){
						alert("Created.");
						$('#id_namaForm').val("");
						$('#id_emailForm').val("");
						$('#id_passwordForm').val("");
						$( ":input[type='submit']" ).prop('disabled', true);
						subscriberList_func();
					}
					else{
						alert(result.condition)
					}
				}
			});
			return false;	//biar ga refresh
		});

		$( ":input[type='submit']" ).prop('disabled', true);	

		$( "#accordion" ).accordion({	
			collapsible : true,
			active : false
		});

		$( "#id_namaForm" ).change(function(){
			nama = $(this).val();
			if(nama != "" && email != "" && password !== ""){
				$( ":input[type='submit']" ).prop('disabled', false);
			}
			else{$( ":input[type='submit']" ).prop('disabled', true);}
		})

		$( "#id_passwordForm" ).change(function(){
			password = $(this).val();
			if(nama != "" && email != "" && password !== ""){
				$( ":input[type='submit']" ).prop('disabled', false);
			}
			else{$( ":input[type='submit']" ).prop('disabled', true);}
		})

		$( "#id_emailForm" ).change(function(){
			email = $(this).val()

			if(nama != "" && email != "" && password !== ""){
				$( ":input[type='submit']" ).prop('disabled', false);
			}
			else{$( ":input[type='submit']" ).prop('disabled', true);}

			$.ajax({
				url: "/profile/check/email/is_taken",
				dataType: "json",
				data:{
					'emailForm':email
				},
				success:function(result){
					if(result.is_taken){
						alert("Email is already exist")
						$( ":input[type='submit']" ).prop('disabled', true);		
					}
				},
				error:function(error){
					console.log(error)	
				}
			});
		});
	});
</script>

{% endblock %}