<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>

	<body>
		<form method="POST" action="{% url 'prc:add-item' %}">
			{% csrf_token %}
			<label id="label_barang" for="barang">Barang : </label><input type="text"
			id="barang" class="abc" name="barang" oninput="typingsomething()">
			<input type="submit" value="submit" onclick="alert('Value Submitted')" />
		</form>
		<h1>Keranjang Belanja</h1>

		<table id="list_belanja">
			{% for it in item %}
			<tr>
				<td class="item" id="{{ it.id }}_barang">{{ it.barang }}</td>
				<td class="item" id="{{ it.id }}_tanggal_belanja">{{ it.created_date }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>

	<script>
	var typingsomething = function(){
		console.log($('.abc').val())
	};
	$('h1').attr("style","font-style:italic")
	$('#list_belanja').attr("style","background-color:green")
	</script>
</html>