{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
	<title>Bookshelf</title>
	<script src="{% static 'App_Profile\jquery-ui-1.12.1.custom\external\jquery\jquery.js' %}"></script>
  <script src="{% static 'App_Profile\jquery-ui-1.12.1.custom\jquery-ui.min.js' %}"></script>
</head>

{% if user.is_authenticated %}
<body class="bodystyle container-fluid">
	<div class="dropdown">
	  <!--button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Choose Book
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <a url=1 class="dropdown-item" href="#">Action</a>
	    <a url=2 class="dropdown-item" href="#">Comic</a>
	    <a url=3 class="dropdown-item" href="#">Design</a>
	  </div>
	</div-->
	<div style="font-size: 3vw;">Favorites :
		<p id="favfield" style="font-size: 3vw;"></p>
	</div>

	<table class="table">
	  <thead style="font-size: 2.5vw">
	    <tr>
	    	<th scope="col">Preview</th>
	      <th scope="col">Title</th>
	      <th scope="col">Authors</th>
	      <th scope="col">Description</th>
	      <th scope="col">Favorites</th>
	    </tr>
	  </thead>
	  <tbody style="font-size: 1.3vw" id="book_details">
	    <!-- Append data here from jquery (json) -->
	  </tbody>
	</table>
</body>

{% else %}
<body style="background-color: #e3f2fd;">
  <div class="text-center" style="margin-top: 13rem;">
  	<p style="font-size: 2.5rem;">You're not logged in. Please login first. </p>
  	<a class="lead" href="{% url 'login_page' %}" style="font-size: 2rem">Click here.</a>
  </div>
 </body>
{% endif %}

<script>
	/**	JDINYA DI COMMENT AGAR SAAT LOGOUT DIA ILANG SESSIONNYA
	// transfers sessionStorage from one tab to another
  var sessionStorage_transfer = function(event) {
    if(!event) { event = window.event; } // ie suq
    if(!event.newValue) return;          // do nothing if no value to work with
    if (event.key == 'getSessionStorage') {
      // another tab asked for the sessionStorage -> send it
      localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
      // the other tab should now have it, so we're done with it.
      localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
    } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
      // another tab sent data <- get it
      var data = JSON.parse(event.newValue);
      for (var key in data) {
        sessionStorage.setItem(key, data[key]);
      }
    }
  };

  // listen for changes to localStorage
  if(window.addEventListener) {
    window.addEventListener("storage", sessionStorage_transfer, false);
  } else {
    window.attachEvent("onstorage", sessionStorage_transfer);
  };


  // Ask other tabs for session storage (this is ONLY to trigger event)
  if (!sessionStorage.length) {
    localStorage.setItem('getSessionStorage', 'foobar');
    localStorage.removeItem('getSessionStorage', 'foobar');
  };
  **/
  
	function favclick(numbtn) {
		if(document.getElementById('favbtn' + numbtn).alt === 'not_favorite'){
			document.getElementById('favbtn' + numbtn).src = "{% static 'App_Bookshelf\img\favorite.png' %}";
			document.getElementById('favbtn' + numbtn).alt = "favorite";
			if(sessionStorage.getItem("fav"))
			{
				sessionStorage.setItem('favsrc'+numbtn, "{% static 'App_Bookshelf\img\favorite.png' %}");
				sessionStorage.setItem('favalt'+numbtn, "favorite");	
				sessionStorage.setItem("fav", Number(sessionStorage.getItem("fav"))+1)
				$('#favfield').html(sessionStorage.getItem("fav"));
			}
			else
			{
				sessionStorage.setItem('favsrc'+numbtn, "{% static 'App_Bookshelf\img\favorite.png' %}");
				sessionStorage.setItem('favalt'+numbtn, "favorite");
				sessionStorage.setItem('fav', 1);
				$('#favfield').html(sessionStorage.getItem("fav"));
			}
		}
		else{
			document.getElementById('favbtn' + numbtn).src = "{% static 'App_Bookshelf\img\not_favorite.png' %}";	
			document.getElementById('favbtn' + numbtn).alt = "not_favorite";
			if(sessionStorage.getItem("fav"))
			{
				sessionStorage.setItem('favsrc'+numbtn, "{% static 'App_Bookshelf\img\not_favorite.png' %}");
				sessionStorage.setItem('favalt'+numbtn, "not_favorite");
				sessionStorage.setItem("fav", Number(sessionStorage.getItem("fav"))-1)
				$('#favfield').html(sessionStorage.getItem("fav"));
			}
		}
	};
	$(document).ready(function(){
		/**$('.dropdown-item').click(function(){
			$('#book_details').html('')
			$.ajax({
			url:"/bookshelf/api/book"+$(this).attr('url'),
			dataType: 'json',
			success:function(result){
				for(var i = 0;i < result.data.length; i ++)
				{
					var authors = "";
					var btn = "favbtn" + i;

					$('#book_details').append("<tr>")
					$('#book_details').append("<td> <img class='img-responsive rounded mx-auto d-block' src='" + result.data[i].volumeInfo.imageLinks.smallThumbnail  + "' alt=''> </td>")
					$('#book_details').append("<td> " + result.data[i].volumeInfo.title + " </td>")

					for(var j = 0;j < result.data[i].volumeInfo.authors.length; j++)
					{
						authors += result.data[i].volumeInfo.authors[j];
						if(j != result.data[i].volumeInfo.authors.length - 1)
						{
							authors += ", ";
						}
					}

					$('#book_details').append("<td> " + authors + "</td>")
					$('#book_details').append("<td> " + result.data[i].volumeInfo.description + " </td>")
					$('#book_details').append("<td> <img id='favbtn" + i + "' onclick='favclick("+ i +")' class='img-responsive rounded mx-auto d-block' src= '{% static 'App_Bookshelf\img\not_favorite.png' %}' alt='not_favorite' style='max-width:2.5vw;max-height:2.5vw'> </td>")
					$('#book_details').append("</tr>")
				}
			}
		})
		})**/
		$.ajax({
			url:"/bookshelf/api/book",
			dataType: 'json',
			success:function(result){
				for(var i = 0;i < result.data.length; i ++)
				{
					var authors = "";
					var btn = "favbtn" + i;

					$('#book_details').append("<tr>")
					$('#book_details').append("<td> <img class='img-responsive rounded mx-auto d-block' src='" + result.data[i].volumeInfo.imageLinks.smallThumbnail  + "' alt=''> </td>")
					$('#book_details').append("<td> " + result.data[i].volumeInfo.title + " </td>")

					for(var j = 0;j < result.data[i].volumeInfo.authors.length; j++)
					{
						authors += result.data[i].volumeInfo.authors[j];
						if(j != result.data[i].volumeInfo.authors.length - 1)
						{
							authors += ", ";
						}
					}

					$('#book_details').append("<td> " + authors + "</td>")
					$('#book_details').append("<td> " + result.data[i].volumeInfo.description + " </td>")
					$('#book_details').append("<td> <img id='favbtn" + i + "' onclick='favclick("+ i +")' class='img-responsive rounded mx-auto d-block' src= '{% static 'App_Bookshelf\img\not_favorite.png' %}' alt='not_favorite' style='max-width:2.5vw;max-height:2.5vw'> </td>")
					$('#book_details').append("</tr>")

					if(sessionStorage.getItem("fav"))
					{
						$('#favfield').html(sessionStorage.getItem("fav"));
					}

					if(sessionStorage.getItem("favsrc"+i))
					{
						document.getElementById('favbtn' + i).src = sessionStorage.getItem("favsrc"+i);	
						document.getElementById('favbtn' + i).alt = sessionStorage.getItem("favalt"+i);
					}
				}
			}
		})
	})
</script>
{% endblock %}