{% extends "base.html" %}
{% block content %}

<head>
	<title>Hello, Apa Kabar?</title>
</head>

{% if user.is_authenticated %}
<body class="container-fluid" id="id_body">

	<div id="id_ubahTema">
		<button onclick="ubahWarna('warna1')" class="btn" id="id_ubahTema1" type="submit"></button>
		<button onclick="ubahWarna('warna2')" class="btn" id="id_ubahTema2" type="submit"></button>
	</div>

	<div class="col">
		<p class="row justify-content-center" id="id_helloDisplay" style="font-size: 4rem;">Hello {{user.first_name}} {{user.last_name}}, apa kabar?</p> 
		<div class="row justify-content-center">
			<form method="POST" action="">
				<br>
				{% csrf_token %}
				{{ form }} 
				<br><br>
				<button class="btn" id="id_statusSubmit" href="{% url 'landing_page'%}" type="submit">Submit</button>
			</form>
		</div>

		<div class="row justify-content-center">
			<ul>
				{% for statusitem in display %}
					<li id="id_statusDaftar">{{ statusitem.status }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</body>

{% else %}
<body style="background-color: #e3f2fd;">
  <div class="text-center" style="margin-top: 13rem;">
  	<p style="font-size: 2.5rem;">You're not logged in. Please login first. </p>
  	<a class="lead" href="{% url 'login_page' %}" style="font-size: 2rem">Click here.</a>
  </div>
 </body>
{% endif %}

{% endblock %}