{% extends "base.html" %}
{% block content %}

<head>
	<title>Login</title>
</head>

<body style="background-color: #e3f2fd;">
	{% if not user.is_authenticated %}
	<div class="text-center" style="margin-top: 13rem;">
		<p style="font-size: 2.5rem">Please login with your google account. Click link below.</p>
			<img src="https://cdn3.iconfinder.com/data/icons/social-media-chamfered-corner/154/google_plus-512.png" alt="" style="max-width: 2.5rem">		
			<a href="{% url 'social:begin' 'google-oauth2' %}" style="font-size: 1.5rem;margin-left: 0.5rem">Login with your Google Account</a>
	</div>
	{% else %}
	<div class="text-center" style="margin-top: 13rem;">
		<p style="font-size: 2.5rem">You're already logged in.</p>
	</div>
	{% endif %}
</body>

{% endblock %}