{% extends "base.html" %}
{% block content %}

<head>
	<title>Logout</title>
</head>

<body style="background-color: #e3f2fd;" onload="deleteSession()">
	{% if user.is_authenticated %}
	<div class="text-center" style="margin-top: 13rem;">
		<p style="font-size: 2.5rem">Please logout by clicking logout in navbar.</p>
	</div>
	{% else %}
	<div class="text-center" style="margin-top: 13rem;">
		<p style="font-size: 2.5rem">You're already logged out.</p>
	</div>
	{% endif %}
</body>

<script>
	function deleteSession() {
		localStorage.clear();
		sessionStorage.clear();
	}
</script>

{% endblock %}