#id_profile {
	padding-top: 10vw;
}

#id_fotoProfil {
	min-width: 5vw;
	max-width: 35vw;
	min-height: 7vw;
	max-height: 70vw;
	border-radius: 5vw;
}

#id_profilUmum {
	font-size: 2vw;
	color: white;
	text-align: left;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;	
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	animation-name: animatebottom;
	animation-duration: 1s
}

@keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
}