#id_body {
	background-color: #13CE66FF; 
	padding-top: 11vw;
}

#id_statusField {
	min-width: 60vw;
	min-height: 30vw;
	border-radius: 3vw;
}

#id_helloDisplay {
	font-size: 12vw;
}

#id_statusSubmit {
	font-size: 2.5vw;
	border-radius: 2vw;
}

#id_ubahTema {
	margin-top: 20px;
}

#id_ubahTema1{
	font-size: 1vw; 
	background-color: #13CE66FF;
	border-color: black;
	color: black;
}

#id_ubahTema2{
	font-size: 1vw; 
	color: white;
	border-color: white;
	background-color: #D3F608FF;
}