<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{% static 'App_HelloLandingPage\attitude.js' %}"></script>
  <script src="{% static 'App_Bookshelf\script.js' %}"></script>

  <link rel="stylesheet" href="{% static 'App_HelloLandingPage\style.css' %}">
  <link rel="stylesheet" href="{% static 'App_Profile\style.css' %}">
  <link rel="stylesheet" href="{% static 'App_Bookshelf\style.css' %}">
  <link rel="stylesheet" href="{% static 'App_Profile\jquery-ui-1.12.1.custom\jquery-ui.min.css' %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body onload="loading()">
  
  <div id="loader"></div>
  
	<div id="main" style="display: none;" class="animate-bottom">
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      
    
      <span class="navbar-brand">Alka's Website</span>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\bookshelf">Bookshelf</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\profile">About Me</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="\logout" style="color: yellow">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link navbar-right" href="\login" style="color: yellow">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
    </nav>
    <!--Navigation Bar-->
    
      <div>
        {% block content %}
        {% endblock %}
      </div>
  </div>
</body>

<script>
  function loading() {
    myVar = setTimeout(showPage, 1000);
  }

  function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("main").style.display = "block";
  }
  
</script>
</html>